.decoration-left{
    position: absolute;
    top: 34%;
    left:13%;
    width: 44vh;
    height: 60vh;
    background: url(../images/man.png)no-repeat 0 50%;
    background-size: contain;
}

.decoration-right{
    position: absolute;
    top: 34%;
    left: 70%;
    width: 44vh;
    height: 60vh;
    background: url(../images/woman.png)no-repeat 0 50%;
    background-size: contain;
}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3em;
    width: 27%;
    min-width: 400px;
    height:90%;
    border-radius: 0.5em;
    transform: translate3d(-50%, -50%, 0);
    background-color: #FFF;
}

h2{
    font-size:2em;
    margin-bottom:0.5em;
}